html{
  background-color:#88c1d0.;
}


 @media screen and (min-width: 1680px) and (max-width: 1920px){

  html{
  background-color: #ffca4b;
}
}

@media screen and (min-width: 1280px) and (max-width: 1680px) {

html{
  background-color: #275fa0;
}

}


@media only screen and (max-width: 1280px)  {

html{
  background-color: #ffffff;
}

}
