@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');

html{
margin: 0;

}

body{
background-color: #88c1d0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.row{
background-color: #88c1d0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


footer{
  height: 30vh;
  padding-top: 370px;
  background-color: rgba(255, 255, 255, 0.39);
}

#profil_toto{
  background-image: url('../profil_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
